body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #cad3f5;
  background-color: #24273a;
}

#color-picker {
  height: 42px;
  width: 61px;
  border-style: none;
  margin: 14px;
  background-color: #24273a;
}

#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modes {
  height: 42px;
  width: 312px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

#get-color-btn {
  height: 42px;
  width: 123px;
  border: 1px solid #d1d5db;
  border-style: none;
  border-radius: 6px;
  cursor: pointer;
}

#image-container {
  display: flex;
  justify-content: center;
}

#hex-value-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
